# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/

# UV
uv.lock

# Data (on ne commit pas les données brutes)
data/raw/

# MLflow
mlruns/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
